{% extends 'layout.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block content %}
    <h1>Commentaire Delete</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Texte</th>
                <th>Pseudo</th>
                <th>Film</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.texte }}</td>
                <td>{{ commentaire.user.pseudo }}</td>
                <td>{{ commentaire.film.titre }}</td>
                <td>
                    <!--<a href="{{ path('commentaire_show', {'id': commentaire.id}) }}">show</a>-->
                    <!--<a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}">edit</a>-->
                    {{ include('admin/commentaire/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<a href="{{ path('commentaire_new') }}">Create new</a>-->
{% endblock %}
