{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="center">
    <h1>Inscription</h1>
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.pseudo,{'attr':{'placeholder':'Pseudo'} })}}
            {{ form_widget(registrationForm.email,{'attr':{'placeholder':'Email'} }) }}
            {{ form_widget(registrationForm.plainPassword,{'attr':{'placeholder':'Mot de passe'} }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn btn-primary">Envoyer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}