{% extends '/layout.html.twig' %}

{% block content %}
    <div class="w3l-agile-horror">
        <!-- /w3l-medile-movies-grids -->
        <div class="w3l-medile-movies-grids">
            <!-- /movie-browse-agile -->
            <div class="movie-browse-agile">
                <!--/browse-agile-w3ls -->
                <div class="browse-agile-w3ls general-w3ls">

                    <div class="tittle-head">
                        <div class="container">
                            <div class="agileits-single-top">
                                <ol class="breadcrumb">
                                    <li><a href="{{ path('home') }}">Accueil</a></li>
                                    <li class="active">{{ filmsCategories.label }}</li>
                                </ol>
                            </div>
                        </div>
                        <h4 class="latest-text">{{ filmsCategories.label }} </h4>
                    </div>

                    <div class="container">
                        <!-- /latest-movies1 -->
                        <div class="browse-inner-come-agile-w3">

                            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                                <nav>

                                    <!--Affiche toutes les catégories mini-menu-->
                                    {% for categorie in categories %}
                                        <div class="col-sm-3">
                                            <ul class="nav multi-column-dropdown">
                                                <!--Affiche le nom des catégorie et leurs urls-->
                                                <li><a class="coucou" href="{{ path('categorie',{'id':categorie.id} ) }}">{{ categorie.label }}</a></li>
                                            </ul>
                                        </div>
                                    {% endfor %}
                                </nav>
                            </div>
                        <div class="clearfix"> </div>
                            {% for film in films %}
                                <div class="col-md-2 w3l-movie-gride-agile">
                                    <a href="{{ path('single',{'id':film.id}) }}" class="hvr-shutter-out-horizontal"><img src="{{ asset('assets/images/') ~ film.image }}" title="album-name" class="img-responsive" alt="Film" />
                                        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                    </a>
                                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                                        <div class="w3l-movie-text">
                                            <!--Affiche le titre du film et l'url pour aller voir les déails du film-->
                                            <h6><a href="{{ path('single',{'id':film.id})  }}">{{ film.titre }}</a></h6>
                                        </div>
                                        <div class="mid-2 agile_mid_2_home">
                                            <!--Affiche lannée de sorie du film-->
                                            <p>{{ film.sortie }}</p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="ribben">
                                        <!--Affiche la cotation du film-->
                                        <p>{{ film.cotation.cot }}/10</p>
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                    <!-- //latest-movies1 -->
                    <!--//browse-agile-w3ls -->
                </div>
                <!-- //movie-browse-agile -->
                    <div class="blog-pagenat-wthree">
                        <div class="navigation">
                            {{ knp_pagination_render(films) }}
                        </div>
                    </div>
                <!--body wrapper start-->
            </div>
            <!-- //w3l-medile-movies-grids -->
        </div>
    </div>

{% endblock %}