{% extends '/layout.html.twig' %}

{% block content %}
    <div class="banner-bottom">

        <div class="w3_search_2 w3_search">
            <form action="{{ path('listtitre')}}" method="get">
                <input type="text" name="search" placeholder="Rechercher" {% if search is defined %} value="{{search}}" {% endif %}>
                <input type="submit" value="Go">
            </form>
        </div>

        <div class="container">
            <div class="w3_agile_banner_bottom_grid">
                <h4>Bienvenue sur le site One Movies. Un catalogue de Film avec des critiques constructives et une communauté responsable</h4>

            </div>
        </div>

    </div>
    <!-- //banner-bottom -->

    <!-- general -->
    <div class="general">
        <h4 class="latest-text w3_latest_text">Ajouts récents</h4>
        <div class="container">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                        <div class="w3_agile_featured_movies">

                            <!--Affiche 6 films max sur la page d'accueil-->
                            {% for film in films %}
                                <div class="col-md-2 w3l-movie-gride-agile">
                                    <a href="{{ path('single',{'id':film.id}) }}" class="hvr-shutter-out-horizontal"><img src="{{ asset('assets/images/') ~ film.image }}" title="album-name" class="img-responsive" alt="Film" />
                                        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                    </a>
                                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                                        <div class="w3l-movie-text">
                                            <h6><a href="{{ path('single',{'id':film.id})  }}">{{ film.titre }}</a></h6>
                                        </div>
                                        <div class="mid-2 agile_mid_2_home">
                                            <p>{{ film.sortie }}</p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="ribben">
                                        <p>{{ film.cotation.cot }}/10</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- //general -->
    <!-- Latest-tv-series -->
    <div class="Latest-tv-series">
        <h4 class="latest-text w3_latest_text w3_home_popular">Commentaires récents</h4>
        <div class="container">
            <section class="slider">
                <div class="flexslider">
                    <div class="agile_tv_series_grid">
                        <div class="clearfix"> </div>
                        <div class="agileinfo_flexislider_grids">

                            {% for commentaire in commentaires %}
                            <div class="col-md-2 w3l-movie-gride-agile">
                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                    <div class="w3l-movie-text">
                                        <h6><a href="{{ path('single',{'id':commentaire.film.id}) }}">{{ commentaire.user.pseudo }}</a></h6>
                                    </div>
                                    <div class="mid-2 agile_mid_2_home">
                                       <a href="{{ path('single',{'id':commentaire.film.id}) }}"><p>{{ commentaire.texte }}</p></a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="small-dialog" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/164819130?title=0&byline=0"></iframe>
    </div>
    <div id="small-dialog1" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/148284736"></iframe>
    </div>
    <div id="small-dialog2" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
    </div>
    <!-- //Latest-tv-series -->



{% endblock %}