{% extends '/layout.html.twig' %}

{% block content %}



<!-- faq-banner -->
<div class="faq">
    <h4 class="latest-text w3_faq_latest_text w3_latest_text">Liste de film cotation</h4>
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <!--Url pour retourner à laccueil-->
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li class="active">Cotation</li>
            </ol>
        </div>
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <!--url pour afficher toutes les cotations-->
                <li role="presentation"><a href="{{ path('list')}}" role="tab" id="a-tab" >All</a></li>
                <!--Affiche toutes url des cotations disponible de 0->10 -->
                {% for cotation in cotations %}
                <li role="presentation"><a href="{{ path('listcotation',{'id':cotation.id} ) }}" role="tab" id="a-tab" >{{ cotation.cot }}</a></li>
                {% endfor %}
            </ul>

            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                    <div class="agile-news-table">
                        <div class="w3ls-news-result">
                            <!--Si pas de cotations affiche All-->
                            {% if not filmsCotations %}
                                <h4>Cotation: All</h4>
                            {% else %}
                                <!--Mais si il y a une cotation affiche la cotation choisie-->
                                <h4>Cotation: {{ filmsCotations.cot }}/10</h4>
                            {% endif %}
                        </div>

                        <table id="table-breakpoint">
                            <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Année</th>
                                <th>Réalisateur</th>
                                <th>Pays</th>
                                <th>Genre</th>
                                <th>Cotation</th>
                            </tr>
                            </thead>
                            <tbody>

                            <!--Affiche la listes des films et change si l'utilisateur choisi une cotation précise -->
                            {% for film in films %}
                            <tr>
                                <td class="w3-list-img"><a href="{{ path('single',{'id':film.id}) }}"><img src="{{ asset('assets/images/') ~ film.image }}" alt="" /> <span>{{ film.titre }}</span></a></td>
                                <td>{{ film.sortie }}</td>
                                <td>{{ film.realisateur.nom }}</td>
                                <td>{{ film.pays }}</td>
                                <td class="w3-list-info"><a href="{{ path('categorie',{'id':film.categorie.id} ) }}">{{film.categorie.label }}</a></td>
                                <td><a href="{{ path('listcotation',{'id':film.cotation.id} ) }}">{{ film.cotation.cot }}/10</a></td>
                            </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="blog-pagenat-wthree">
                    <div class="navigation">
                        {{ knp_pagination_render(films) }}
                    </div>

                </div>

        </div>
    </div>
</div>
<!-- //faq-banner -->
{% endblock %}