{% extends '/layout.html.twig' %}

{% block content %}
    {% if app.user %}
<!-- single -->
<div class="single-page-agile-main">
    <div class="container">
        <!-- /w3l-medile-movies-grids -->
        <div class="agileits-single-top">
            <ol class="breadcrumb">
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li class="active">Profile</li>
            </ol>
        </div>
        <div class="single-page-agile-info">
            <!-- /movie-browse-agile -->
            <div class="show-top-grids-w3lagile">
                <!--Changement de 8 colonnes en 12-->
                <div class="col-sm-12 single-left">
                    <div class="col-md-12 border">
                        <div class="col-md-4 left">
                            <h3>{{ users.pseudo }}</h3>
                            {#<div class="media-left">#}
                                    {#<img class="size" src="{{ asset('assets/images/') ~ users.photo }}" title="One movies" alt=" " />#}
                            {#</div>#}
                        </div>
                        <div class="col-md-8 pad-top left border">
                            <p class="col-md-3 left pad-profile">Email :</p> <p class="col-md-3 pad-profile"> {{ users.email }}</p>
                            <div class="clearfix"> </div>
                            <p class="col-md-3 left pad-profile">Pseudo :</p> <p class="col-md-3 pad-profile">{{ users.pseudo }}</p>
                            <div class="clearfix"> </div>
                        </div>
                    </div>


                    <div class="clearfix"> </div>

                    <div class="all-comments">
                        <h4>Mes commentaires</h4>
                        <div class="media-grids">
                            {% for commentaire in commentaires %}

                                <h5>{{ commentaire.user.pseudo }}</h5>
                                {#<div class="media-left">#}
                                        {#<img src="{{ asset('assets/images/user.jpg') }}" title="One movies" alt=" " />#}
                                {#</div>#}
                                <div class="media-body">
                                    <a href="{{ path('single',{'id':commentaire.film.id}) }}" ><p>{{ commentaire.texte }}</p></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div class="clearfix"> </div>
            </div>
            <!-- //movie-browse-agile -->

        </div>
        <!-- //w3l-latest-movies-grids -->
    </div>
</div>
    {% endif %}

{% endblock %}