{% extends '/layout.html.twig' %}

{% block content %}

    <!-- single -->
    <div class="single-page-agile-main">
        <div class="container">
            <!-- /w3l-medile-movies-grids -->
            <div class="agileits-single-top">
                <ol class="breadcrumb">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li class="active">{{ films.titre }}</li>
                </ol>
            </div>
            <div class="single-page-agile-info">
                <!-- /movie-browse-agile -->
                <div class="show-top-grids-w3lagile">
                    <!--Changement de 8 colonnes en 12-->
                    <div class="col-sm-12 single-left">

                        <!--Affiche le film en fonction de l'id envoyé-->
                        <div class="song">
                            <div class="song-info">
                                <h3>{{ films.titre }}</h3>
                            </div>
                            <div class="video-grid-single-page-agileits left">
                                <!-- IMAGE -->
                                <div data-video="dLmKio67pVQ" id="video"> <img src="{{ asset('assets/images/') ~ films.image }}" alt="film" class="img-responsive" style="width: 200px" /> </div>
                            </div>
                        </div>
                        <div class="song-grid-right">
                            <div class="share">
                                <!--Cotation du film-->
                                <h5 class=""> <a href="{{ path('listcotation',{'id':films.cotation.id} ) }}"> {{ films.cotation.cot }}</a>/10</h5>
                                <!-- METTRE LA PARTIE CRITIQUE DU FILM ICI-->
                                <div class="single-agile-shar-buttons">
                                    <!-- La description du film-->
                                    <p><span>{{ films.description }}</span></p>
                                </div>
                                <!--Chemin pour aller directement dan la partie categorie en fonction de la categorie du film-->
                                <p><strong>Catégorie: <a href="{{ path('categorie',{'id':films.categorie.id} ) }}">{{ films.categorie.label }}</a></strong></p>
                                <p><strong>Réalisateur: {{ films.realisateur.nom }}</strong></p>
                            </div>
                        </div>


                        <div class="clearfix"> </div>

                        <div class="all-comments">

                            {% if app.user %}

                                <div class="all-comments-info">
                                    <a href="#">Commentaires</a>
                                    <div class="agile-info-wthree-box">
                                        {{ form_start(commentForm) }}
                                        {{ form_row(commentForm.texte,{'attr': {'placeholder':"Votre commentaries"}})}}
                                        <button type="submit" >Commenter</button>
                                        {{ form_end(commentForm) }}
                                    </div>
                                </div>
                            {% else %}
                                <h3>Veuillez vous connecter/inscrire pour ajouter un commentaire</h3>
                            {% endif %}
                            <h3>{{ films.commentaire | length }} commentaires</h3>
                            {% for commentaire in commentaires %}
                            <div class="media-grids">
                                <div class="media">
                                    <h5>{{ commentaire.user.pseudo }}</h5>
                                    <!--Si admin affiche le bouton supprimer aussi-non le bouton signaler-->
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {{ include('admin/commentaire/_delete_form.html.twig') }}
                                    {% elseif is_granted('ROLE_USER') %}
                                        <a class="moiright" href="#">Signaler</a>
                                    {% endif %}
                                    {#<div class="media-left">#}
                                        {#<a href="#">#}
                                            {#<img src="{{ asset('assets/images/user.jpg') }}" title="One movies" alt=" " />#}
                                        {#</a>#}
                                    {#</div>#}
                                    <div class="media-body">
                                        <p>{{ commentaire.texte }}</p>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>



                    <div class="clearfix"> </div>
                </div>
                <!-- //movie-browse-agile -->

            </div>
            <!-- //w3l-latest-movies-grids -->
        </div>
    </div>
    <!-- //w3l-medile-movies-grids -->
{% endblock %}