<form method="post" action="{{ path('realisateur_delete', {'id': realisateur.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realisateur.id) }}">
    <button class="btn">Delete</button>
</form>
