{% extends 'layout.html.twig' %}

{% block title %}Edit Realisateur{% endblock %}

{% block body %}
    <h1>Edit Realisateur</h1>

    {{ include('admin/realisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('realisateur_index') }}">back to list</a>

{% endblock %}
