{% extends 'layout.html.twig' %}

{% block title %}Realisateur index{% endblock %}

{% block content %}
    <h1>Realisateur Uptade/New</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisateur in realisateurs %}
            <tr>
                <td>{{ realisateur.id }}</td>
                <td>{{ realisateur.nom }}</td>
                <td>
                    <a href="{{ path('realisateur_show', {'id': realisateur.id}) }}">show</a>
                    <a href="{{ path('realisateur_edit', {'id': realisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('realisateur_new') }}">Create new</a>
{% endblock %}
