{% extends 'layout.html.twig' %}

{% block title %}Realisateur{% endblock %}

{% block body %}
    <h1>Realisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realisateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ realisateur.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('realisateur_index') }}">back to list</a>

    <a href="{{ path('realisateur_edit', {'id': realisateur.id}) }}">edit</a>
{% endblock %}
