<form method="post" action="{{ path('film_delete', {'id': film.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ film.id) }}">
    <button class="btn">Delete</button>
</form>
