{% extends 'layout.html.twig' %}

{% block title %}Edit Film{% endblock %}

{% block body %}
    <div class="center">
        <h1>Edit Film</h1>

        {{ include('admin/film/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('film_index') }}">back to list</a>

        {{ include('admin/film/_delete_form.html.twig') }}
    </div>
{% endblock %}
