{% extends 'layout.html.twig' %}

{% block title %}Film Uptade/Delete/New{% endblock %}

{% block content %}
    <h1>Film Uptade/Delete/New</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Réalisateur</th>
                <th>Catégorie</th>
                <th>Description</th>
                <th>Image</th>
                <th>Sortie</th>
                <th>Pays</th>
                <th>Cotation</th>
                <th>actions</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.titre }}</td>
                <td>{{ film.realisateur.nom }}</td>
                <td>{{ film.categorie.label }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.image }}</td>
                <td>{{ film.sortie }}</td>
                <td>{{ film.pays }}</td>
                <td>{{ film.cotation.cot }}</td>
                <td>
                    <a href="{{ path('film_show', {'id': film.id}) }}">show</a>
                    <a href="{{ path('film_edit', {'id': film.id}) }}">edit</a>
                </td>
                <td>{{ include('admin/film/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('film_new') }}">Create new</a>

    {{ knp_pagination_render(films) }}
{% endblock %}
