{% extends 'base.html.twig' %}

{% block title %}New Film{% endblock %}

{% block body %}
    <h1>Create new Film</h1>

    {{ include('admin/film/_form.html.twig') }}

    <a href="{{ path('film_index') }}">back to list</a>
{% endblock %}
