{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <!-- //for-mobile-apps -->
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('assets/css/contactstyle.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('assets/css/faqstyle.css') }}" type="text/css" media="all" />
        <link href="{{ asset('assets/css/single.css') }}" rel='stylesheet' type='text/css' />
        <link href="{{ asset('assets/css/medile.css') }}" rel='stylesheet' type='text/css' />
        <!-- banner-slider -->
        <link href="{{ asset('assets/css/jquery.slidey.min.css') }}" rel="stylesheet">
        <!-- //banner-slider -->
        <!-- list-css -->
        <link rel="stylesheet" href="{{ asset('assets/list-css/list.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('assets/list-css/table-style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('assets/list-css/basictable.css') }}" type="text/css" media="all" />
        <!-- //list-css -->
        <!-- pop-up -->
        <link href="{{ asset('assets/css/popuo-box.css') }}" rel="stylesheet" type="text/css" media="all" />
        <!-- //pop-up -->
        <!-- font-awesome icons -->
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}" />
        <!-- //font-awesome icons -->
        <!-- banner-bottom-plugin -->
        <link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet" type="text/css" media="all">
        <!-- //banner-bottom-plugin -->
        <link href='{{ asset('assets///fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300') }}' rel='stylesheet' type='text/css'>
    {% endblock %}

{% block body %}
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a href="{{ path('home') }}"><h1>One<span>Movies</span></h1></a>
            </div>
            <div class="clearfix"> </div>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <h4 class="right">
                {% if is_granted("ROLE_ADMIN") %}
                Administrateur:
                {% endif %}Bonjour {{ app.user.pseudo }}</h4>
            {% endif %}
        </div>
    </div>


    <!-- //header -->

    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('home') }}">Accueil</a></li>
                            <li><a href="{{ path('genre') }}">Categorie</a></li>
                            <li><a href="{{ path('list') }}">Cotation</a></li> <li class="nav-item dropdown">
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <li class="right"><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                            <li class="right"><a href="{{ path("profile",{'id':app.user.id}) }}">Profil</a></li>
                            {% else %}
                            <li class="right"><a href="{{ path('app_login') }}">Connexion</a></li>
                            <li class="right"><a href="{{ path('app_register') }}">Inscription</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </nav>

        </div>
    </div>
    {% if is_granted("ROLE_ADMIN") %}
    <br/>
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('film_index') }}">Film</a></li>
                            <li><a href="{{ path('realisateur_index') }}">Realisateur</a></li>
                            <li><a href="{{ path('categorie_index') }}">Categorie</a></li>
                            <li><a href="{{ path('user_index') }}">User</a></li>
                            <li><a href="{{ path('commentaire_index') }}">Commentaire</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>

        </div>
    </div>
    {% endif %}
    <!-- //nav -->

    {% block content %}
    {% endblock %}
    <!-- footer -->
    <div class="footer top">
        <div class="container">
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>&copy; 2019 One Movies. All rights reserved | Design by <a href="https://ndevadder.bes-webdeveloper-seraing.be">Devadder Nathan</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->

{% endblock %}
{% block javascripts %}
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
    <!-- //js -->
    <script src="{{ asset('assets/js/owl.carousel.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items : 5,
                itemsDesktop : [640,4],
                itemsDesktopSmall : [414,3]

            });

        });
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{{ asset('assets/js/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/easing.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $(".dropdown").hover(
                function() {
                    $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function() {
                    $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //Bootstrap Core JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->

    <!-- pop-up-box -->
    <script src="{{ asset('assets/js/jquery.magnific-popup.js') }}" type="text/javascript"></script>
    <!--//pop-up-box -->

    <script>
        $(document).ready(function() {
            $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>

    <script>
        $('.toggle').click(function(){
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- //bootstrap-pop-up -->
{% endblock %}
